@use 'variables' as v;
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin xl_desktop {
    @media (min-width: v.$xl_desktop) {
        @content;
    }
}
@mixin alerta {
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    text-align: center;
    font-family: v.$fuentePrincipal;
    margin: 0 0 1rem 0;
    color: v.$blanco;
}